
<div id="pageTopMarker"></div>

<footer class="mdl-mega-footer">
  <div class="row">
    <div class="col-sm-6 footer-left">
      <span>&copy; @DateTime.Now.Year - 江西财经大学</span>
    </div>

    <div class="col-sm-6 footer-right">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect"
         data-toggle="tooltip" data-placement="top" title="回到顶部"
         style="color: #fff" href="#pageTopMarker">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
    </div>
  </div>
</footer>
