@{
    ViewData["Title"] = "未创建游戏";
    Layout = "~/Areas/Manage/Views/Shared/_TeamLayout.cshtml";
}

<div style="padding: 64px 0; margin: 24px auto" class="text-center">
  <a asp-controller="Team" asp-action="Create">
    <h3>创建游戏</h3>
  </a>
</div>
