@{
    ViewData["Title"] = "没有权限";
}


<div class="text-center" style="margin: 48px auto">
  <h5 style="margin-bottom: 48px">您没有权限访问该页面</h5>

  <p>
    <a asp-area="" asp-controller="Account" asp-action="Login">重新登陆</a>
    <span>&nbsp; 或 &nbsp;</span>
    <a asp-area="" asp-controller="Home" asp-action="Index">返回首页</a>
  </p>
</div>
