.login-form-container {
  width: 35%;
  margin: 0 auto 28px;
}

.login-form {
  width: 100%;
  text-align: center;
  margin: 0 auto 32px;
  padding: 24px;
}

.login-form-title {
  margin: auto auto 14px;
  font-size: 18px;
}

.login-form-group {
  margin: 0 auto;
}

#loginSubmit {
  margin-top: 24px;
  width: 120px;
}

.mdl-textfield__error {
  visibility: visible;
}

.alert {
  margin-top: 8px;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .login-form-container {
    width: 80%;
  }
}

@media screen and (max-width: 720px) {
  .login-form-container {
    width: 100%;
  }
}
