@using GameShowcase.ViewComponents;
@model Leader

@{
    ViewData["Title"] = "确认删除该组长？";
}

<div>
  <a asp-action="Index" id="back"
     class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab mdl-button--accent">
    <i class="material-icons">&#xE5C4;</i>
  </a>

  <div style="float: right">
    <form asp-action="Delete">
      <div class="form-actions no-color">
        <button type="submit" id="delete"
                class="mdl-button mdl-js-button mdl-js-ripple-effect 
                mdl-button--fab mdl-button--mini-fab mdl-button--accent" >
          <i class="material-icons">&#xE872;</i>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="mdl-tooltip" for="back">取消</div>
<div class="mdl-tooltip" for="delete">确认删除</div>


@await Component.InvokeAsync(nameof(LeaderProfile), new { id = Model.Id })